@font-face {
    font-family: Jua;
    src: url('/fonts/jua.ttf');
    font-weight: 400;
    font-display: block;
}

@font-face {
    font-family: Karla;
    src: url('/fonts/karla.ttf');
    font-display: block;
}

:root {
    --bg: #10101a;
    --acc: #29293a;
    --acc-hover: #424255;
    --bg2: #10101a55;
    --main: #fffffe;
    --sec: #b5b5dd;
    --blue: #85a8ff;
    --green: #A6FFB0;
}

a {
    text-decoration: none;
    color: var(--sec);
}

a:hover,
nav a.active {
    text-decoration: underline;
    color: var(--blue);
}

a:hover:nth-of-type(odd),
nav a:nth-of-type(odd).active {
    color: var(--green);
}

.jua {
    font-family: 'Jua', sans-serif;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 250ms;
    overflow-wrap: anywhere;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Karla', sans-serif;
    background-color: var(--bg);
    color: var(--main);
    font-size: 1.125rem;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    padding: 12px;
    flex-basis: 0;
    flex-grow: 1;
}

img {
    max-width: 100%;
}

input,
button {
    background: var(--acc);
    color: var(--main);
    border: none;
    padding: 12px;
    font-family: inherit;
    font-size: inherit;
    border-radius: 12px;

    &:hover {
        background-color: var(--acc-hover);
    }
}

input[type="search"] {
    width: 30vw;
    min-width: 450px;

    @media (width <=700px) {
        width: 90vw;
        min-width: auto;
    }
}

input[type="search"]::placeholder {
    opacity: 0.7;
    color: var(--sec);
}

/* TODO: The clear button is only available on Webkit browsers, we should implement our own button to support other browsers*/
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.btn-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
}

h1.jua {
    overflow-wrap: normal;
}

form[action="search"] {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

footer {
    background: var(--acc);
    padding: 12px;
    margin-top: 12px;
}

.side {
    display: flex;
    justify-content: space-between;

    @media (width <=700px) {
        justify-content: baseline;
        flex-direction: column;
    }
}

footer .links {
    display: flex;
    flex-direction: row;
    gap: 12px;
}