---
import Base from "../layouts/base.astro"
---

<Base>
	<div class="main-container">
		<header class="top">
			<a href="/roulette">IndieRoulette™</a>
			<a href="/webrings">Webrings</a>
			<a href="/buttons">Buttons</a>
		</header>
		<div class="center-container">
			<h1 class="jua">IndieSeas</h1>
	
			<form action="search" autocomplete="off" method="get" role="search">
				<input type="search" name="q" placeholder="Search..." aria-label="Search" />
				<div class="btn-container">
					<button type="submit">Search</button>
					<button name="first">First page!</button>
				</div>
			</form>
		</div>
	</div>

	<style slot="head">
		.main-container {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		header {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: end;
			gap: 12px;
			padding: 12px;
		}

		.center-container {
			max-width: 1200px;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			height: inherit;
		}

		h1.jua {
			font-size: 6em;
		}

		@media (width <= 700px) {
			h1.jua {
				font-size: 3.5em;
			}
		}
	</style>
</Base>
